<!doctype html>
<html lang="en">
  <head>
    <title>Seed Sensor Graph</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body onload="update_values">

    <h1>HERE</h1>
    <div>
        <canvas id="myChart"></canvas>
      </div>
      <button id="add" type="button" class="btn btn-primary" onclick="addRandom()"></button>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
      //var intervalID = setInterval(update_values,10);
    
      var sensed;

      var onOrOff;

      var currentTime = new Date();

      var time = currentTime.getSeconds.toString()+currentTime.getMilliseconds.toString();

      var testAddData = [10, 30, 50, 20, 25, 44, -10];

      var onOff = ['ON', 'ON', 'OFF', 'ON', 'OFF', 'OFF', 'ON'];

        const data = {
          labels: time,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: testAddData,
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {}
        };

        //update the values for the chart
      function update_values(label, dat){



        myChart.data.labels.push(label)
        myChart.data.datasets.forEach((dataset) => {
            dataset.data.push(dat);
        }
        );
        myChart.update();
      } 

      const myChart = new Chart(
          document.getElementById('myChart'),
          config
        ); 

        function addRandom(){
            currentTime = new Date();
          update_values('ON', currentTime.getSeconds());
        }
/*       const labels = Utils.months({count: 7});

        const data = {
          labels: labels,
          datasets: [
            {
            label: 'Sensed Seed',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: ['ON', 'ON', 'OFF', 'ON', 'OFF', 'OFF', 'ON']
          }]
        }; */
      
      </script>   

      <script>

      </script>


      
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>