{}
<!doctype html>
<html lang="en">
  <head>
    <title>Seed Sensor Graph</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body >

    <h1>HERE</h1>

  <div class="alert alert-primary alert-dismissible fade show" role="alert" id="tryconnect">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Press the Connect Button</strong> to connect to a bluetooth device
    <button type="button" class="btn btn-primary btn-lg" onclick="tryConnect()">Connect</button>

  </div>   

  <div class="alert alert-primary alert-dismissible fade show" role="alert" id="connected" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Connected</strong>
  </div>
  
  <div class="alert alert-primary alert-dismissible fade show" role="alert" id="notconnect" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Can't Connect</strong>
  </div>

    <div>
        <canvas id="myChart"></canvas>
      </div>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script type=text/javascript>
  $SCRIPT_ROOT = "http://192.168.0.44:5000/_stuff";

</script>

<script type="text/javascript">

        
      var intervalID;
    
      var sensed;

      var onOrOff;

      var currentTime = new Date();

      var connected = "false";

      var displayedAmount = 0;
      var onOff = ['OFF'];

      var time  = currentTime.getSeconds().toString();

      var timeLabel = [time];

      var count = 0;

      var savedTime = 0;

      var countTime = 0
      $("#connected").hide();
      $("#notconnect").hide();

        const data = {
          labels: timeLabel,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: onOff,
            stepped:true,
            yAxisID: 'y2',
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {responsive: true,
            plugins: {
              title: {
                display: true,
                text: 'Stacked scales',
              },
            },
            scales: {
              y2: {
                type: 'category',
                labels: ['SENSED', 'OFF'],
                offset: true,
                position: 'left',

              }
            }
          }
        };

        var myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
        //update the values for the chart
      function update_values(){
        //create new chart after 120 bits of data
        if (displayedAmount == 120){
          displayedAmount=0;
          myChart = new Chart(
          document.getElementById('myChart'),
          config
        );
          return
        }
        currentTime = new Date();
        time = currentTime.getSeconds().toString();
        fetch("http://192.168.0.44:5000/_stuff")
        .then(response => {
          // indicates whether the response is successful (status code 200-299) or not
          if (!response.ok) {
            throw new Error(`Request failed with status ${response.status}`)
          }
          return response.json()
        })
        .then(data => {
          dat = data.result;
          console.log(dat)
        })
        .catch(error => console.log(error));


        myChart.data.labels.push(time);

        myChart.data.datasets.forEach((dataset) => {
            dataset.data.push(dat);
        
        });

        myChart.update();
      } 


      //sends a get request to flask which returns whether or not the device is connected. 
      //if it is connected it will display the alert connected
      function isConnected(){
        fetch("http://192.168.0.44:5000/_connect")
        .then(response => {
          // indicates whether the response is successful (status code 200-299) or not
          if (!response.ok) {
            throw new Error(`Request failed with status ${response.status}`)
          }
          return response.json()
        })
        .then(data => {

          connected = data.isConnected;
          console.log(data)
          console.log(connected)
        })
        .catch(error => console.log(error));

        if(data == "true"){
          //connected alert
          $(".alert").hide();
          update_values();
          $("#connected").alert();
          setInterval = setInterval(update_values,1200);
          
          //close current alert
        }       
      }

      //adds a random time variable to the graph FOR TESTING
        function addRandom(){
          currentTime = new Date();
          update_values('ON', currentTime.getSeconds());
        }

        //trys to connect to the device 5 times over 20 seconds
        function tryConnect(){

          savedTime = currentTime.getSeconds();
          countTime = currentTime.getSeconds();

          while(count < 5 && connected == "false"){
            if(countTime == 59){
              countTime = 0;
            }
            if(savedTime < 60 && savedTime > 56){
              savedTime=0;
            }
            currentTime = new Date();
            if(countTime + 1 <= currentTime.getSeconds()){
              isConnected();
              countTime = currentTime.getSeconds()
            }
            if(savedTime+4 < currentTime.getSeconds() && currentTime.getSeconds() <=56){
              count++;
              savedTime = currentTime.getSeconds();
            }
          }
          count = 0;
          if(connected=="false"){
            //can't connect alert
            $("#notconnect").alert();
          }
        }
      </script>   
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>