
<!doctype html>
<html lang="en">
  <head>
    <title>Seed Sensor Graph</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body >

    <h1>HERE</h1>

  <div class="alert alert-primary alert-dismissible fade show" role="alert" id="tryconnect">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Press the Connect Button</strong> to connect to a bluetooth device
    <button type="button" class="btn btn-primary btn-lg" onclick="connectAndReceive()">Connect</button>

  </div>   

  <div class="alert alert-primary alert-dismissible fade show" role="alert" id="connected" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Connected</strong>
  </div>
  
  <div class="alert alert-primary alert-dismissible fade show" role="alert" id="notconnect" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <strong>Can't Connect</strong>
  </div>

    <div id="chartContainer">
        <canvas id="myChart"></canvas>
      </div>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



<script type=text/javascript>
  $SCRIPT_ROOT = "http://127.0.0.1:5000/_stuff";

</script>

<script type="text/javascript">
      var setInterval = setInterval(update_values,800);
       
      var intervalID;
    
      var sensed;

      var onOrOff;

      var currentTime = new Date();

      var connected = "false";

      var displayedAmount = 0;
      var onOff = ['OFF'];

      var time  = currentTime.getSeconds().toString();

      var timeLabel = [time];

      var count = 0;

      var savedTime = 0;

      var done = false;

      var dat;

      var countTime = 0
 

        const data = {
          labels: timeLabel,
          datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: onOff,
            stepped:true,
            yAxisID: 'y2',
          }]
        };
      
        const config = {
          type: 'line',
          data: data,
          options: {responsive: true,
            plugins: {
              title: {
                display: true,
                text: 'Stacked scales',
              },
            },
            scales: {
              y2: {
                type: 'category',
                labels: ['SENSED', 'OFF'],
                offset: true,
                position: 'left',

              }
            }
          }
        };

        var myChart = new Chart(
          document.getElementById('myChart'),
          config
        );


      async function request(){
        await fetch("http://127.0.0.1:5000/_stuff")
        .then(response => {
          // indicates whether the response is successful (status code 200-299) or not
          if (!response.ok) {
            throw new Error(`Request failed with status ${response.status}`)
          }
          return response.json()
        })
        .then(data => {
          displayedAmount++;
          dat = data.result;
          console.log(dat)
        })
        .catch(error => console.log(error));
      }

        //update the values for the chart
      function update_values(){
        //create new chart after 120 bits of data
        console.log("updatevalues")
        console.log(connected)
        if(connected=="false"){
          return
        }
        if(!done){
          console.log("yep")
          done=true;
          console.log(connected)
          $("#tryconnect").hide();
          update_values();
          $("#connected").alert();
        }
        if (displayedAmount == 20){
          console.log("remove")
          for(var i = 0; i<20; i++){
            myChart.data.labels.pop();
            myChart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
            });
        myChart.update();

          }
          displayedAmount=0;
/*           myChart = new Chart(
          document.getElementById('myChart'),
          config 
          );  */
          
        }
        currentTime = new Date();
        time = currentTime.getSeconds().toString();
        request();
        /* await fetch("http://127.0.0.1:5000/_stuff")
        .then(response => {
          // indicates whether the response is successful (status code 200-299) or not
          if (!response.ok) {
            throw new Error(`Request failed with status ${response.status}`)
          }
          return response.json()
        })
        .then(data => {
          displayedAmount++;
          dat = data.result;
          console.log(dat)
        })
        .catch(error => console.log(error));
 */

        console.log(dat)

        myChart.data.labels.push(time);

        myChart.data.datasets.forEach((dataset) => {
            dataset.data.push(dat);
        
        });

        myChart.update();
      } 



      //sends a get request to flask which returns whether or not the device is connected. 
      //if it is connected it will display the alert connected
      function isConnected(){
        fetch("http://127.0.0.1:5000/_connect")
        .then(response => {
          // indicates whether the response is successful (status code 200-299) or not
          if (!response.ok) {
            throw new Error(`Request failed with status ${response.status}`)
          }
          return response.json()
        })
        .then(data => {
          console.log("here")
          connected = data.isconnect;
          console.log(data)
          console.log(connected)
        })
        .catch(error => console.log(error));
        //connected = "true"
        console.log("heree")
        console.log(connected)
   
      }

      //adds a random time variable to the graph FOR TESTING
        function addRandom(){
          currentTime = new Date();
          update_values('ON', currentTime.getSeconds());
        }

        //trys to connect to the device 5 times over 20 seconds
        function tryConnect(){
          currentTime = new Date();
          savedTime = currentTime.getSeconds();

          while(count < 4 && connected == "false"){
            currentTime = new Date();
            countTime =currentTime.getSeconds();
            if(savedTime + 8 < countTime && countTime <=56){
              isConnected();
              count++;
              savedTime = countTime;
            } else if(savedTime >= 54){
              savedTime = 0;
            }
          }
          count = 0;
          if(connected=="false"){
            //can't connect alert
            $("#notconnect").alert();
          }
 
        }

        function connectAndReceive(){
          isConnected();
          console.log("iscpnnect")
          console.log(connected)
          if(connected == "true"){
            //connected alert
            console.log("yep")
            console.log(connected)
            $(".alert").hide();
            update_values();
            $("#connected").alert();
            setInterval = setInterval(update_values,1200);
          
              //close current alert
            }   
        }
        
      </script>   
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>